<nav class="navbar navbar-custom shadow-5-strong ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">&lt; Architecture &gt; <span class="world">World</span></a>
        <ul class="nav-menu navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <form class="d-flex" method="get" role="search" action="/form">
                    <button class="btn btn-outline-light btn-sm" type="submit">Create New Project</button>
                </form>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>